.footer {
  height: auto;
  width: 100%;
  background: linear-gradient(var(--sec-bg));
  position: relative;
}
.carts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  align-items: center;
}
.carts p {
  color: var(--clr-white);
  margin-top: 2.5rem;
}

.media {
  margin: 3rem 0;
}
.media a {
  color: white;
  font-size: 2rem;
  margin: 2.5rem;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}
.media a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 960px) {
  .carts {
    display: flex;
    justify-content: space-evenly;
    /* height: 20vh; */
    align-items: center;
  }
  .media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
  }
  .media a {
    font-size: 1.5rem;
    margin: 1.5rem;
  }
}
