.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 3;
}
.modal1 .title {
  max-height: content;
  max-width: 100%;
  color: var(--clr-white);
}
.title .text {
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
}
.close-modal {
  position: absolute;
  top: 1%;
  right: 0.5%;
  color: var(--clr-white);
  cursor: pointer;
}
.inputs {
  width: 70%;
}
.inputs img {
  height: content;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .modal1 {
    width: 90%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
  }
  .modal1 .title {
  }
  .inputs {
    flex-direction: column;
    align-items: center;
  }
  .inputs img {
    object-fit: contain;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .modal1 .title {
  }
  .inputs {
    width: 85%;
  }
}
