.section {
  background: linear-gradient(var(--sec-bg)),
    url(../assets/7.png) center/cover fixed no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: 4rem;
}
.section > * {
  text-align: center;
  max-width: 55ch;
}
.section-header {
  font-size: 15px;
  text-transform: uppercase;
  color: var(--clr-white);
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.21);
}
.section-header span {
  display: block;
  font-size: clamp(3.5rem, 6vw + 1rem, 8rem);
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  color: var(--clr-glass);
}
.section-status {
  font-size: clamp(10px, 1vw + 0.4rem, 20px);
  text-align: left;
  color: var(--clr-white);
}
.change-box {
  display: flex;
  justify-content: space-around;
  background: hsl(var(--clr-glass));
  backdrop-filter: blur(1rem);
  margin: 2rem;
}
.state-change-btn {
  border: none;
  color: var(--clr-white);
  font-size: clamp(10px, 1vw + 0.4rem, 25px);
  font-family: "Merriweather", serif;
  cursor: pointer;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.21);
}
.button {
  margin: 2rem;
}
.section-button {
  color: var(--clr-white);
  text-decoration: none;
  background: hsl(var(--clr-glass));
  backdrop-filter: blur(1rem);
  margin-top: 2rem;
  padding: 0.8em;
}

@media (max-width: 1000px) {
  .section {
    justify-content: center;
  }
  .section-header {
    font-size: 12px;
    margin: 0 2rem 1rem;
    color: red;
  }
}
